.BtnSection{
    width: 100%;
    height: 100%;
    display: flex;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.formFieldSection {
    padding: 20px;
    width: 100%;
    height: 100%;
  
    form {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      grid-auto-rows: 80px;
      grid-gap: 20px 41px;
  
      .inputField {
        display: flex;
        align-items: center;
        justify-content: center;
  
        .mat-form-field {
          width: 80%;
        }
      }
    }
  
    .submitBtnSection {
      bottom: 10px;
      display: flex;
      justify-content: flex-end;
  
      button {
        margin: 0px 10px;
        height: 40px;
        width: 120px;
        font-size: 1.1rem;
      }
    }
  
  
  }