<section class="sidenav_body">

    <div class="menu"  routerLink="./dashboard" routerLinkActive="active-list-item">
        <i class="material-icons">
            dashboard
            </i>
            <h3>
                Dashboard
            </h3>
    </div>
    <div class="menu" routerLink="./client" routerLinkActive="active-list-item">
        <i class="material-icons">
            supervisor_account
            </i>
            <h3>
                Client
            </h3>
    </div>
    <div class="menu "  routerLink="./contact" routerLinkActive="active-list-item"> 
        <i class="material-icons">  
            contact_mail
            </i>
            <h3>
                Contact
            </h3>
    </div>
    <div class="menu " routerLink="./services" routerLinkActive="active-list-item">
        <i class="material-icons">
            web
            </i>
            <h3>
                Service
            </h3>
    </div>
</section>
