<div class="component-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="textbox-search-view">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" autocomplete="off">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-md-3 offset-md-3">
          <div class="BtnSection">
  
            <div class="addClientBtn" (click)="clientForm()">
              <i class="material-icons">
                add_circle_outline
              </i>
              <h3>Add Service Pay</h3>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
    <div class="container-fluid">
      <div class="row">
        <div class="table-wrapper">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
            <ng-container matColumnDef="srNo" sticky>
              <th mat-header-cell *matHeaderCellDef> Sr. No. </th>
              <td mat-cell *matCellDef="let element; let i=index"> {{response?.indexOf(element)+1}} </td>
            </ng-container>
  
  
            <ng-container matColumnDef="PeriodOfService">
              <th mat-header-cell *matHeaderCellDef> Period Of Service </th>
              <td mat-cell *matCellDef="let element">
                {{element?.PeriodOfService}}
              </td>
            </ng-container>

            <ng-container matColumnDef="DefaultAmount">
                <th mat-header-cell *matHeaderCellDef> Default Amount </th>
                <td mat-cell *matCellDef="let element">
                  {{element?.DefaultAmount}}
                </td>
              </ng-container>
  

  
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element">
                <mat-icon (click)="editForm(element.ClientId)" title="Edit">edit</mat-icon>
              </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky :  true"></tr>
            <tr mat-row *matRowDef="let row; columns :  displayedColumns;"></tr>
          </table>
        </div>
        <mat-paginator [pageSizeOptions]="[25, 50, 100, 1000]"></mat-paginator>
  
      </div>
    </div>
  
  </div>
  