<div class="formFieldSection">

    <form [formGroup]="ServiceForm" autocomplete="off">
  


        <div class="inputField">
            <mat-form-field class="example-full-width">
                <input type="text" placeholder="Service Name" aria-label="Number" matInput formControlName="ServiceName" [matAutocomplete]="auto1">
                <mat-autocomplete  #auto1="matAutocomplete">
                  <mat-option *ngFor="let option of ServiceNameOptionsFilteredOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
        </div>


        <div class="inputField">
            <mat-form-field class="example-full-width">
                <input type="text" placeholder="Service Group Name" aria-label="Number" matInput formControlName="ServiceGroupName" [matAutocomplete]="auto2">
                <mat-autocomplete  #auto2="matAutocomplete">
                  <mat-option *ngFor="let option of ServiceGroupNameOptionsFilteredOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
        </div>


      <div class="inputField">
        <mat-form-field>
          <mat-select placeholder="Service Payment"formControlName="ServicePayment">
            <mat-option value="paid">paid </mat-option>
            <mat-option value="Pending"> Pending</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="inputField">
        <mat-form-field>
          <input matInput placeholder="Service Frequency"formControlName="ServiceFrequency">
        </mat-form-field>
      </div>

      <div class="inputField">
        <mat-form-field>
          <input matInput placeholder="Service Amount"formControlName="ServiceAmount">
        </mat-form-field>
      </div>
  
    </form>
    <div class="submitBtnSection">
      <button mat-flat-button color="primary" (click)="submitServiceForm()" >submit</button>
      <button mat-flat-button color="warn" (click)="cancelForm()">Cancel</button>
    </div>
  
  </div>
  