<div class="formFieldSection">

  <form [formGroup]="contactForm" autocomplete="off">


    <div class="inputField">
      <mat-form-field>
        <input matInput placeholder="Contact Person Name" formControlName="ContactPersonName">
      </mat-form-field>
    </div>

    <div class="inputField">
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="Email">
      </mat-form-field>
    </div>

    <div class="inputField">
      <mat-form-field>
        <input matInput placeholder="Designation Name" formControlName="Designation">
      </mat-form-field>
    </div>

    <div class="inputField">
      <mat-form-field>
        <input matInput placeholder="Mobile Number 1" formControlName="MobileNumber1">
      </mat-form-field>
    </div>

    <div class="inputField">
      <mat-form-field>
        <input matInput placeholder="Mobile Number 2" formControlName="MobileNumber2">
      </mat-form-field>
    </div>

    <div class="inputField">
      <mat-form-field>
        <input matInput placeholder="Telephone" formControlName="Telephone">
      </mat-form-field>
    </div>

    
    
    
    <div class="inputField">
        <mat-form-field>
            <textarea matInput placeholder="Address" formControlName="Address"></textarea>
        </mat-form-field>
    </div>
    
          <div class="inputField">
            <mat-form-field>
              <input matInput placeholder="Reference" formControlName="Reference">
            </mat-form-field>
          </div>

    <div class="inputField">
      <mat-form-field>
        <mat-select placeholder="Current Status" formControlName="CurrentStatus">
          <mat-option value="live">Live </mat-option>
          <mat-option value="DND"> DND</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="inputField">
      <div class="radioBtnBlock">

      <label class="example-margin">BroadService:</label>
      <mat-radio-group formControlName="IsBroadService">
        <mat-radio-button class="example-margin" value="yes">Yes</mat-radio-button>
        <mat-radio-button class="example-margin" value="no">No</mat-radio-button>
      </mat-radio-group>
    </div>

    </div>

  </form>
  <div class="submitBtnSection">
    <button mat-flat-button color="primary" (click)="submitContactForm()">submit</button>
    <button mat-flat-button color="warn" (click)="cancelForm()">Cancel</button>
  </div>

</div>
