@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
$font-color:#271F5A;
$primary-color:#713BDB;

body {
  margin: 0px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


table {
  width: 100%;
}


.component-wrapper {
  padding: 20px;


  .table-wrapper {
    height: 62vh;
    width: 100%;
    overflow: auto;
    margin: 20px 0px 0px 0px;
  }
}

.addClientBtn {
  display: flex;
  /* border: 1px solid; */
  width: fit-content;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  border-radius: 10px;
  background: #F5F6FA;
  box-shadow: 3px 3px 4px #00000057, -4px -4px 6px #ffffff;
  cursor: pointer;

  h3 {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0px 6px;
    font-family: "Poppins", sans-serif;
    color: $font-color;

  }
}

tr.mat-header-row {
  background-color: #E8EAF1;
}

td.mat-cell {
  text-align: center;
}

th.mat-header-cell {
  text-align: center !important;
}


// scroll bar style modification start


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// scroll bar style modification end


.ModalPage {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 1000;
  left: 0;
  background-color: #0000001f;
  display: flex;
  justify-content: center;
  align-items: center;

  .Modal {
    width: 60%;
    padding: 20px 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 6px 2px #0000003d;

  }
}

.mat-tab-label-active{
  background-color: $primary-color !important;
  color: white;
  opacity: 1 !important;
}

.material-icons {
  cursor: pointer;
}